{
  "presets": [
    ["@babel/env", { "modules": false }],
    "inferno-app"
  ],
  "plugins": [
    ["@babel/proposal-decorators", { "legacy": true}],
    "@babel/proposal-class-properties",
    "@babel/transform-runtime"
  ],
  "env": {
    "production": {

    }
  }
}